form{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

a{
    font-size: 30px;
}

#title{
   font-size: 30px;
}

#email{

   width:95%;
   height: 40px;
}

#password{
   
    width: 95%;
    height: 40px;
}

input{
    font-size: 18px;
}

label{
    font-size: 22px;
}

#loginButton{
    font-size: 22px;
    width:20%;
}